*.o
.vs
Debug
x64
Colony.app
*.zip
jammy_tests
jammy_village
.~lock.jammy_village_TODO.odt#
hi_score_test
hi_scores
village/assets/pspbrwse.jbf
village/assets/Humans/pspbrwse.jbf
*.filters
*.user
*.recipe
*.ilk
*.log
*.obj
*.lastbuildstate
*.tlog
*.idb
*.pdb
